@font-face {
	font-family: 'KakomiA';
	src: url(./fonts/KakomiA.ttf);
}
@font-face {
	font-family: 'misaki_gothic';
	src: url(./fonts/misaki_gothic.ttf);
}
@font-face {
	font-family: 'misaki_gothic_2nd';
	src: url(./fonts/misaki_gothic_2nd.ttf);
}
@font-face {
	font-family: 'PixelMplus10_Bold';
	src: url(./fonts/PixelMplus10-Bold.ttf);
}
@font-face {
	font-family: 'PixelMplus10_Regular';
	src: url(./fonts/PixelMplus10-Regular.ttf);
}
@font-face {
	font-family: 'PixelMplus12_Bold';
	src: url(./fonts/PixelMplus12-Bold.ttf);
}
@font-face {
	font-family: 'PixelMplus12_Regular';
	src: url(./fonts/PixelMplus12-Regular.ttf);
}

/* html,body{
    overflow: hidden
} */

body{
    background-color: #D999FF;
    height: 100%;
    width:100%; /*ページ全体の幅は100%と指定する*/	
    text-align:center; /*ページ全体を中央揃えにする*/
}
body h1{
    font-weight:normal
}


.fuchidori{
    font-family: misaki_gothic_2nd;
    color: #FFF7FF;
}

.kakomi{
    font-family: KakomiA;
    color: #FFF7FF;
}
.mini{
    font-family: KakomiA;
    font-size: 10vw;
    color: #FFF7FF;
}
.deka.en{
    font-size: 15vw;
}
.deka.jp{
    font-size: 10vw;
}
.map {
    margin: 25vh 0;
}
.line {
    margin: 25vh 0;
}
.line *{
    margin: 3vh;
}
#wrap{ 
    width: 960px;	   /*全体の幅を指定する*/  
    margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
    text-align:left;   /*全体を左揃えにする。*/
}

.container *{
    margin: 3vh;
}
/* .container{
    text-align:center;
    padding:20px 0;
} */